@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin:10px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin:10px;
}

.topic {
    background: lightgray;
    /*add CSS here*/
  border-radius: 1px;
 display: inline-block;
  padding: 3px;
  text-decoration: none;
  margin: 20px;
}

